<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raystatic.feature_01">

    <application>
        <activity
            android:name=".Feature01Activity"
            android:exported="false" />
    </application>

</manifest>